/* Sección: Hero */

.hero {
  padding-top: 80px;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden; 
}

.hero__slider {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  background-color: #002e6b;
}

.banner__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}

.banner__h2 {
  text-shadow: 0 2px 7px rgba(0, 0, 0, 0.6);
  font-weight: 100;
  font-size: 3.9rem;
  margin: 0;
  line-height: 1.2;
}

.banner__h3 {
  text-shadow: 0 2px 7px rgba(0, 0, 0, 0.6);
  font-size: 7rem;
  font-weight: 900;
  margin: 0;
}

.banner__p {
  font-size: 1.2rem;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  margin-top: 1rem;

}

.btn__cta {
  background-color: var(--color-secondary);
  color: var(--color-white);
  font-size: 1.1rem;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 1.5rem;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn__cta:hover {
  background-color: var(--color-white);
  color: var(--color-secondary);
}

.slide {
  flex: 0 0 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(1,106,138,0.8), rgba(0,147,192,0.8));
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
}

.slide.active {
  display: flex;
}

.hero__slide1 {
  background-image: linear-gradient(#000, transparent, rgba(0, 0, 0, 0.8)), url(../img/jaleaMixta.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__slide2 {
  background-image: url(../img/hero2.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__slide3 {
  background-image:  url(../img/hero.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  background: rgba(0,0,0,0.4);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 10;
  transition: background-color ease-in 0.3s;
}

.slider__btn:hover {
  background-color: var(--color-secondary);
}

.slider__btn.prev {
  left: 10px;
  border-radius: 10px;
}

.slider__btn.next {
  right: 10px;
  border-radius: 10px;
}


/* Sección: testimony */

.testimony {
  padding: 4rem 2rem;
  text-align: center;
}

.testimony__h2 {
  margin-bottom: 4rem;
}

.testimony__list {
  max-width: 700px;
  margin: 0 auto;
}

.testimony__item {
  margin-bottom: 3rem;
  padding: 3rem 1.5rem;
  background-color: var(--color-white);
  border-left: 8px solid var(--color-secondary);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  border-radius: 0 8px 8px 0;
}


/* Sección: Menú */

.menu {
  padding: 3rem 2rem;
  text-align: center;
  background-color: var(--color-white);
}

.menu__h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.menu__container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.menu__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.menu__h3 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
  color: var(--color-primary);
}

.menu__h3--white {
  color: var(--color-white);
}

.menu__paragraph {
  color: var(--color-black);
  margin-bottom: 10px;
}

.paragraph__white {
  color: var(--color-white);
}


/* Sección: Nosotros */
.us {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.us__container,
.us_imageContainer {
  flex: 1 1 min(400px, 100%);
}

.us__container {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.us__h2 {
  margin-bottom: 3rem;
}
.us_imageContainer {
  border-radius: 15px;
  overflow: hidden;
}

.us__image {
  width: 100%;
  height: auto;
}


/* Sección: Sede */

.headquarters {
  height: 600px;
  background: url(../img/WhatsApp\ Image\ 2025-06-06\ at\ 5.10.32\ PM.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headquarters__h2 {
  text-align: center;
  padding: 2rem 0;
  font-size: 3rem;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}


/* Sección: botón */

.btn__float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  z-index: 80;
}

.btn__float a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  color: var(--color-white);
  font-size: 2.5rem;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  overflow: visible;
}

.whatsapp-float {
    background-color: #25d366;
}

.delivery-float {
  background-color: var(--color-secondary);
}

.btn__iconDelivery {
  font-size: 2.1rem;
}

.btn__float a:hover {
  transform: scale(1.1);
}

.btn__message {
  position: absolute;
  right: 80px;
  background-color: var(--color-white);
  color: var(--color-primary);
  padding: 6px 10px;
  border-radius: 10px;
  font-size: 1.2rem;
  white-space: nowrap;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: floatMsg 14s ease-in-out infinite;
}


/* Animación de entrada/salida */
@keyframes floatMsg {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }

  5% {
    transform: translateX(0);
    opacity: 1;
  }

  20% {
    transform: translateX(0);
    opacity: 1;
  }

  25% {
    transform: translateX(30px);
    opacity: 0;
  }

  100% {
    transform: translateX(30px);
    opacity: 0; 
  }
}


/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--color-white);
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  position: relative;
}

.modal__h3 {
  color: var(--color-primary);
  margin-bottom: 1rem;
}


.modal-content input,
.modal-content button {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-content button {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #016a8a;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #999;
}

.close:hover {
  color: #000;
}

 /* Sección: Modal registrado */

#successMessage {
  display: none;
  font-size: 18px;
  color: #016a8a;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  position: relative;
}

/* Tablet (pantallas ≥768px) */
@media screen and (min-width: 768px) {
  .banner__container {
    padding: 3rem 2rem;
    text-align: left;
    align-items: flex-start;
  }

  .banner__h2 {
    font-size: 4.5rem;
  }

  .banner__h3 {
    font-size: 8rem;
  }

  .banner__p {
    font-size: 1.4rem;
    max-width: 90%;
  }

  .btn__cta {
    font-size: 1.2rem;
    padding: 12px 24px;
  }
}

/* Desktop (pantallas ≥1024px) */
@media screen and (min-width: 1024px) {
  .banner__container {
    max-width: 1200px;
    padding: 4rem 2rem;
    margin: 0 auto;
  }

  .banner__h2 {
    font-size: 5rem;
  }

  .banner__h3 {
    font-size: 10rem;
  }

  .banner__p {
    font-size: 1.5rem;
    max-width: 800px;
  }

  .btn__cta {
    font-size: 1.3rem;
    padding: 14px 32px;
  }
}
